
body {
  background:#E9E6D8; 
}
.wrapper {
  margin-top: 25%;
  margin-left: 35%;
  }                           /*icon menu*/
.menu-conteiner{
 position: relative;
 top: -60px;
 left: 16px;
}
.menu-block{
    left:15%;
    display: block;
    position: absolute;
    width: 100%;
    margin: -35px auto 0 3.2px;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
}

.menu-block .menu-item {
    display: block;
    width: 60px;
    height: 3.2px;
    margin: 14px;
    border-right: 45px solid #fff;
    border-left: 10px solid #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;

}
    .menu-block .one-line {
        -webkit-transition: opacity 300ms;
        -moz-transition: opacity 300ms;
        transition: opacity 300ms;
    }
   .menu-block .two-line {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
  .menu-block:hover .menu-item {
  transition: all 0.1s ease-in;
}
.menu-block:hover .one-line,
.menu-block:active .one-line {
  transition: all 0.1s linear;
  opacity: 0;
}
.menu-block:hover .two-line {
  transform: rotate(45deg) translate(-5px, 5px);
  box-shadow: 0px 0px 3px 3px rgba(205,40,44,0.75);
  border-radius: 10px;
}
.menu-block:hover .three-line {
  transform: rotate(-45deg) translate(5px, -20px);
  box-shadow: 0px 0px 3px 3px rgba(83,228,68,0.65);
  border-radius: 10px;
}
.menu-block:active:hover .bar:not:.one-line {
  transition: all 0.01s ease-in;
  opacity: 0.5;
}


                            /* circles*/
.container {
 position: absolute;
 
}
.circle-wave{
    display: flex;

}
.circle-wave div {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.circle-wave .one-circle-right {
  background: -webkit-linear-gradient(left, #385c78 0%, #325774 100%);
  background: linear-gradient(to right, #385c78 0%, #325774 100%);
}
.circle-wave .two-circle  {
  background: -webkit-linear-gradient(left, #325774 0%, #47536a 100%);
  background: linear-gradient(to right, #325774)
}
.circle-wave .three-circle  {

  background: -webkit-linear-gradient(left, #4a5369 0%, #6b4d59 100%);
  background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
}
.circle-wave .four-circle  {
  background: -webkit-linear-gradient(left, #744c55 0%, #954646 100%);
  background: linear-gradient(to right, #744c55 0%, #954646 100%);
}
.circle-wave .five-circle  {
  background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
  background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}
.circle-wave .six-circle  {
  background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
  background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}
.circle-wave .seven-circle-left  {
  background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
  background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}


.shadow {
  padding-top: 10px;
  display: flex;
}
.shadow div {
  
  width: 50px;
  height: 10px;
  border-radius: 50%;
  background: #e3dbd2;

}
.shadow .shadow-left {
  background: #d5d8d6;
}
.shadow .shadow-right {
  background: #eed3ca;
}
@-webkit-keyframes ball-l {
  0%, 50% {
    transform: rotate(0) translateX(0);
  }
  100% {
    transform: rotate(50deg) translateX(-7.5em);
  }
}
@keyframes ball-l {
  0%, 50% {
    transform: rotate(0) translateX(0);
  }
  100% {
    transform: rotate(50deg) translateX(-7.5em);
  }
}
@-webkit-keyframes ball-r {
  0% {

    transform: rotate(50deg) translateX(7.5em);
  }
  50%,
  100% {
    transform: rotate(0) translateX(0);
  }
}
@keyframes ball-r {
  0% {
 
    transform: rotate(-50deg) translateX(7.5em);
  }
  50%,
  100% {

    transform: rotate(0) translateX(0)
  }
}
@-webkit-keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;

    transform: translateX(0);
  }
  100% {
    opacity: .125;
    
    transform: translateX(-1.75em);
  }
}
@keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;

    transform: translateX(0);
  }
  100% {
    opacity: .125;
    transform: translateX(-1.75em);
  }
}
@-webkit-keyframes shadow-r-n {
  0% {
    opacity: .125;
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    transform: translateX(0);
  }
}
@keyframes shadow-r-n {
  0% {
    opacity: .125;
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    transform: translateX(0);
  }
}
.one-circle-right {
  -webkit-animation: ball-l .425s ease-in-out infinite alternate;
  animation: ball-l .425s ease-in-out infinite alternate;
}
.seven-circle-left {
  -webkit-animation: ball-r .425s ease-in-out infinite alternate;
  animation: ball-r .425s ease-in-out infinite alternate;
}
.shadow-left {
  -webkit-animation: shadow-l-n .425s ease-in-out infinite alternate;
  animation: shadow-l-n .425s ease-in-out infinite alternate;
}
.shadow-right {
  -webkit-animation: shadow-r-n .425s ease-in-out infinite alternate;
  animation: shadow-r-n .425s ease-in-out infinite alternate;
}
